<section class="onboarding-container">
  <div class="onboarding-slider">
    <div class="onboarding-slide">
      <div class="slider-text">
        <h3 class="headline-label">HOLA!</h3>
        <h2 class="slider-title">
          Bienvenido a Activa! Gracias por descargar nuestra aplicación!
        </h2>
      </div>
      <img
        src="https://tedwaffl.sirv.com/Activa/onboarding.png"
        alt=""
        class="onboarding-img"
      />
    </div>
  </div>
  <div class="action-cta">
    <div class="slider-bullets">
      <button class="slider-bullet active"></button>
      <button class="slider-bullet"></button>
      <button class="slider-bullet"></button>
    </div>
    <button routerLink="/auth/login" class="btn cta mb-16">Iniciar sesión</button>
    <span class="d-block text text-center size-11">
      Eres nuevo en ACTIVA?
      <a href="#" class="link">Regístrate</a>
    </span>
  </div>
</section>
